.App {
  text-align: center;
}


.quotes_container {
  margin: 0 10px;
  padding: 10px;
  background-color: beige;

}

.quotes_container .quote {
  display: flex;
  list-style: none;
  padding: 10px;
}


.quotes_container .quote button {
  width: fit-content;
  height: 50px;
}